*,
*::before,
*::after{
  box-sizing: border-box;
}

body::after {
    content: "";
    background-image: url('../guillaume-le-louarn-uC21aXJ7yQs-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    /*opacity: 0.4; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    filter: blur(.15px);
    -webkit-filter: blur(.15px);
    height: 2000px;
    
    
}



:root{
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  
  --fs-h1:3rem;
  --fs-h2:2.25rem;
  --fs-h3:1.25rem;
  --fs-body:1rem;
 }

@media (min-width: 800px){
  :root{
    --fs-h1: 4.5rem;
    --fs-h1: 3.75rem;
    --fs-h1: 1.5rem;
    --fs-h1: 1.25rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-size: var(--fs-body);
  line-height: 1.6;
}

section{
  padding: 5em 2em;
}

img{
  display:block;
  max-width: 100%;
}

h1,h2,h3{
  line-height: 1.1;
  margin: 0;
}

h1{ font-size: var(--fs-h1)}
h2{ font-size: var(--fs-h2)}
h3{ font-size: var(--fs-h3)}

.section__title{
  margin-bottom: .25;
}

.section__title--intro{
  font-weight: var(--fw-reg);
}

.section__title--intro strong{
  display: block;
}

.section__subtitle{
  margin: 0;
  
}

.section__subtitle--intro,
.section__subtitle--about{

  margin-bottom: 1em;
}

/* header */

.intro{
  position: relative;
  color:white;
}
.intro__img {
  box-shadow: var(--bs);
}

section__subtitle--intro{
display: inline-block;
}

@media (min-width: 600px){
  .intro{
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
}

.intro__img {
  grid-area: 1mg;
  min-width: 250px;
  position: relative;
  z-index: 2;
}

.section__subtitle--intro{
  align-self: start;
  grid-column: -1 / 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  left: -1.5em;
  width: calc(100% + 1.5em);
}

.my-services {
  background-color: gray;
  background-size: cover;
  text-align: center;
}


.section__title--services {
  position: relative;
}

.section__title--services::after{
content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  opacity: 0.25;
}

.btn {
  display: inline-block;
  padding: .5em 1.5em;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 200ms ease-in-out;
}

img{
    width: 200px;
}

.my_projects{
    color: white;
}
.projects-main{
    color: white;
}
#about{
    color: white;
}

