/* styling the page */
body::after {
  content: "";
  background: url('https://res.cloudinary.com/dj7bt3ah7/image/upload/v1600438621/guillaume-le-louarn-uC21aXJ7yQs-unsplash_znain3.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  filter: contrast(140%);
}

#about_me {
  position: fixed;
  
  right: 50px;
  color: #7e1946;
}

#button-group{
  position: absolute;
  bottom: 4rem;
  left: 21rem;
  
}

.heading {
  position: absolute;
  /* getting the text in the center of the box */
 
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
 
  
  bottom: 45%;
  left: 28rem;
  border: 2px solid;
  width: 25rem;
  padding: 4rem;
  transform: translate(-15%, 15%);
  color: white;
  font-family: 'Open Sans', sans-serif;

}







/* styling my modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  /*makes the content hidden in the modal */
  display: none;
  
  
}
.modal-content {
  position: absolute;
  /* I don't want the position of modal to come up in the center */
  top: 55%;
  left: 50%;
  /* transform: translate(-50%, -50%);
  background-color: white; */
  transform: translate(-50%, -50%);
  background-color:#0b6291;
  padding: 14rem;
  width: 24rem;
  height: 10rem;
  border-radius: 0.20rem;
  color: white;
}
.close-button {
  /* float: right; */
  position: absolute;
  top: 25px;
  right: -10px;
  width: 50px;
  cursor: pointer; 
 
}

.show-modal {
  opacity: 1;
  visibility: visible;
  /* transform: scale(1.0); */
  
}

/* STYLING MY BUTTON */

button {
  border: none;
  background-color:inherit;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-family: 'Open Sans', sans-serif;
  

}

button:hover {background:rgba(0, 0, 0, 0.1);}

/* Styling Projects inside Modal */

.projects-main {
  position: absolute;
  top: 15%;

  
}

#projects, .modal-title{
  position: absolute;
  top: 5%;
  left: 5%;
}

/*  STYLING MY MOBILE */

@media(min-width: 700px){

}
